/* TODO: Fix overflow, instead of this hacky workaround. */
html {
  --titlebar-height: 94px;
  overflow: hidden;
}

iframe {
  border: hidden;

  width: 100%;
  height: 100%;
}

.titlebar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: var(--titlebar-height);

  background-color: #282828;
}

.titlebar .name {
  position: absolute;
  font-weight: 600;
  font-size: 40px;
  padding: 6px;
}

.titlebar .buttons {
  position: absolute;
  top: 62px;
  left: 4px;
  width: 100%;
}

.titlebar .buttons button {
  text-transform: uppercase;
  border-color: white;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;

  cursor: pointer;

  font-size: 18px;
}

.titlebar .buttons .lg {
  /* FIXME: UI breaks slightly in Chrome (tested in Edge, they both use the same Engine), but not Firefox. What the hell? */
  --btn-width: 83px;

  position: absolute;
  left: calc(100% - (var(--btn-width) + 8px));
  width: var(--btn-width);
}

.text-gradient {
  color: transparent;

  background-clip: text;
  -webkit-background-clip: text;

  background-image: linear-gradient(to left, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 7s ease infinite;
}

.container {
  position: absolute;
  top: var(--titlebar-height);
  left: 0px;
  width: 100%;
  height: calc(100% - var(--titlebar-height));
}